<div
    id="js-vars"
    data-variables='{{ js_vars.variables|json_decode|raw }}'
    data-translations='{{ js_vars.translations|json_encode|raw }}'
    data-routes='{{ js_vars.routes|json_encode|raw }}'
></div>
